.home-box {
  min-width: 1100px;
}
.home-box .chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.home-box .chevron {
  margin-top: 20px;
  display: block;
  -webkit-animation: pulse 1.5s linear infinite;
  animation: pulse 1.5s linear infinite;
  color: #FFF;
  opacity: 0;
}
.home-box .chevron:hover {
  margin-top: 20px;
  display: block;
  -webkit-animation: asdda 1.5s linear infinite;
  animation: adsasd 1.5s linear infinite;
  color: #FFF;
  opacity: 1;
}
.home-box .chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  vertical-align: top;
  width: 20px;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.home-box .centered-container {
  margin-top: 144px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 0.125rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
}
.home-box .link {
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
}
.home-box .link:active {
  color: #00a2ff;
}
.home-box .link--arrowed {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
}
.home-box .link--arrowed .arrow-icon {
  position: relative;
  top: -1px;
  transition: -webkit-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
}
.home-box .centered-container:active g {
  stroke: #00a2ff;
}
.home-box .link--arrowed .arrow-icon--circle {
  -webkit-transition: stroke-dashoffset 0.3s ease;
  transition: stroke-dashoffset 0.3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}
.home-box .link--arrowed:hover .arrow-icon {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}
.home-box .link--arrowed:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}
.home-box .swiper-wrapper .swiper-slide .link-more {
  color: #fff;
}
.home-box .swiper-wrapper .swiper-slide .link-more .title {
  font-size: 46px;
}
.home-box .swiper-wrapper .swiper-slide .link-more .brife {
  font-size: 28px;
  margin-top: 24px;
}
.home-box .swiper-wrapper .swiper-slide .link-more .xs-brife {
  font-size: 16px;
  margin-top: 16px;
}
.home-box .swiper-wrapper .swiper-slide .link-more .more2 {
  width: 100px;
  height: 60px;
  font-size: 20px;
  margin: auto;
  margin-top: 144px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.home-box .swiper-wrapper .swiper-slide .link-more .bnts {
  width: 380px;
  height: 60px;
  margin: auto;
  margin-top: 70px;
}
.home-box .swiper-wrapper .swiper-slide .link-more .bnts .login-btn,
.home-box .swiper-wrapper .swiper-slide .link-more .bnts .more-btn {
  width: 188px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  border: solid 1px #fff;
  border-radius: 30px;
  cursor: pointer;
  float: left;
}
.home-box .swiper-wrapper .swiper-slide .link-more .bnts .more-btn {
  color: #c3c1c1;
}
.home-box .swiper-wrapper .swiper-slide .link-more .bnts .more-btn:hover {
  color: #fff;
}
.home-box .swiper-wrapper .swiper-slide .link-more .bnts .login-btn:hover {
  background: linear-gradient(135deg, #41a3ff 0%, #007aff 100%);
  border-color: #41a3ff;
}
.home-box .swiper-wrapper .swiper-slide .link-more .bnts .login-btn:active {
  background: linear-gradient(135deg, #0071dc 0%, #0049ac 100%);
  border-color: #0049ac;
}
.home-box .content {
  width: 100%;
}
.home-box .content .section {
  width: 1100px;
  margin: auto;
}
.home-box .content .section .f-left {
  width: 50%;
  height: 500px;
  float: left;
  position: relative;
}
.home-box .content .section .f-right {
  width: 50%;
  height: 500px;
  float: right;
  position: relative;
}
.home-box .content .section .contain {
  width: 488px;
  height: 134px;
  padding-bottom: 20px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  margin-top: -67px;
  margin-left: 15px;
  -webkit-box-shadow: 0px 12px 20px 0px rgba(54, 56, 68, 0.05);
  box-shadow: 0px 12px 20px 0px rgba(54, 56, 68, 0.05);
}
.home-box .content .section .contain .title {
  font-size: 32px;
  padding-top: 30px;
  padding-left: 20px;
}
.home-box .content .section .contain .brife {
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.home-box .content .section .contain .img-icon {
  width: 500px;
  height: 400px;
}
.home-box .content .section .contain::after {
  position: absolute;
  top: 50%;
  right: -10px;
  content: "";
  display: block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: -1;
  margin-top: -7px;
}
.home-box .content .section .text-right::before {
  position: absolute;
  top: 50%;
  left: -10px;
  content: "";
  display: block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #f1f2f5;
  margin-top: -7px;
}
.home-box .content .section .advantage {
  width: 100%;
  height: 900px;
  color: #fff;
}
.home-box .content .section .advantage .title {
  font-size: 32px;
  text-align: center;
  padding-top: 60px;
}
.home-box .content .section .advantage .brife {
  font-size: 16px;
  padding-top: 16px;
  text-align: center;
}
.home-box .content .section .advantage .icon-brife {
  margin: auto;
  margin-top: 40px;
}
.home-box .content .section .advantage .icon-brife .brife-box {
  width: 42.5%;
  padding: 10px;
  float: left;
}
.home-box .content .section .advantage .icon-brife .brife-box .icon {
  width: 60px;
  height: 60px;
}
.home-box .content .section .advantage .icon-brife .brife-box .title {
  font-size: 24px;
  text-align: left;
  padding-top: 20px;
}
.home-box .content .section .advantage .icon-brife .brife-box .brife {
  font-size: 12px;
  text-align: left;
  line-height: 20px;
}
.home-box .content .section .advantage .block-box {
  text-align: center;
  width: 100%;
  margin-top: 40px;
}
.home-box .content .section .advantage .block-box .cont-box {
  float: left;
  width: 260px;
  height: 182px;
  background: rgba(255, 255, 255, 0.06);
  -webkit-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin: 5px;
}
.home-box .content .section .advantage .block-box .cont-box .icon {
  width: 60px;
  height: 58px;
  margin: auto;
  padding-top: 30px;
}
.home-box .content .section .advantage .block-box .cont-box .num {
  font-size: 28px;
  margin-top: 21px;
  font-weight: bold;
}
.home-box .content .section .advantage .block-box .cont-box .brife {
  font-size: 14px;
}
.home-box .content .section2 {
  width: 1100px;
  margin: auto;
  height: 600px;
}
.home-box .content .section2 .title {
  padding-top: 60px;
  font-size: 32px;
  text-align: center;
}
.home-box .content .section2 .brife {
  font-size: 14px;
  text-align: center;
  padding-top: 14px;
}
.home-box .content .section2 .content-table {
  -webkit-box-shadow: 0px 12px 20px 0px rgba(54, 56, 68, 0.08);
  box-shadow: 0px 12px 20px 0px rgba(54, 56, 68, 0.08);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 14px;
  margin-top: 40px;
}
.home-box .content .section2 .content-table table {
  width: 100%;
  background: #fff;
  border-radius: 10px;
}
.home-box .content .section2 .content-table table tr:nth-child(even) {
  background: #f8f8f8;
}
.home-box .content .section2 .content-table table td {
  padding: 20px;
}
