.xcj-box {
    min-width: 1100px;
    ;

    .waper-box {
        width: 100%;
        height: 500px;
        position: relative;

        .link-box {
            .title {
                font-size: 46px;

                color: #fff;
            }

            .brife {
                font-size: 28px;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 28px;
                margin-top: 24px;
            }

            .bnts {
                width: 310px;
                height: 60px;
                margin-top: 52px;

                .login-btn,
                .more-btn {
                    width: 152px;
                    height: 52px;
                    text-align: center;
                    line-height: 52px;
                    border: solid 1px #fff;
                    border-radius: 30px;
                    cursor: pointer;
                    float: left;
                    color: #fff;
                }

                .more-btn {

                    color: #fff;

                }

                .login-btn {
                    background: linear-gradient(135deg, rgba(65, 163, 255, 1) 0%, rgba(0, 122, 255, 1) 100%);
                    border-color: rgba(65, 163, 255, 1);
                }

                .more-btn:hover {

                    color: #fff;
                }

                .login-btn:hover {
                    background: linear-gradient(135deg, rgba(65, 163, 255, 1) 0%, rgba(0, 122, 255, 1) 100%);
                    border-color: rgba(65, 163, 255, 1);
                }

                .login-btn:active {
                    background: linear-gradient(135deg, rgba(0, 113, 220, 1) 0%, rgba(0, 73, 172, 1) 100%);
                    border-color: rgba(0, 73, 172, 1);
                }
            }
        }

        .bglogo {
            width: 406px;
            height: 467px;
            margin-top: -100px;


        }

    }

    .content {
        .section {
            width: 1100px;
            height: 700px;
            margin: auto;

            .logo-box {
                padding-top: 60px;
                width: 180px;
                margin: auto;
            }

            .brife-box {
                .title {
                    font-size: 32px;
                    text-align: center;
                    font-weight:bold;
                    color:rgba(56,58,64,1)
                    

                }

                .brife {
                    width:700px;
                    font-size: 12px;
                    font-family: PingFang-SC-Regular;
                    font-weight: 400;
                    color: rgba(115, 120, 134, 1);
                    line-height: 20px;
            
                    margin:auto;
                    margin-top:22px;
                }
            }
            .s-bottom-img{
               margin-top:48px;
            }
        }
        .f-left {
            width: 50%;
            height: 500px;
            float: left;
            // background:red;
            position: relative;


        }

        .f-right {
            width: 50%;
            height: 500px;
            float: right;
            // background:yellow;
            position: relative;
        }
        .contain {
            width: 488px;
            height: 134px;
            padding-bottom: 20px;
            background: rgba(241, 242, 245, 1);
            border-radius: 8px;
            position: absolute;
            top: 50%;
            margin-top: -67px;
            margin-left: 15px;
            box-shadow: 0px 12px 20px 0px rgba(54, 56, 68, 0.05);

            .title {
                font-size: 32px;
                padding-top: 30px;
                padding-left: 20px;

            }

            .brife {
                margin-top: 10px;
                font-size: 12px;
                line-height: 20px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .img-icon {
                width: 500px;
                height: 400px;
            }
        }

        .text-right::after {
            position: absolute;
            top: 50%;
            left: -10px;
            content: "";
            display: block;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 15px solid rgba(241, 242, 245, 1);
            z-index: -1;
            margin-top: -7px;


        }
        .text-left::before {
                position: absolute;
                top: 50%;
                right:-10px;
                content: "";
                display: block;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid #fff;
                margin-top: -7px;

            }


    }

}