.wrap-box{
    min-width: 1100px;
    
}
/* 头部样式 */
.top-img{
    position: relative;
    width:100%;
    height: 1080px;
    display: block;
}

.top-wrap{
    position: absolute;
    top:40%;
    left: 410px;
    z-index: 10;
    .brife{
        width:577px;
        height:84px;
        font-size:16px;
        font-family:PingFang-SC-Light;
        font-weight:300;
        color:rgba(255,255,255,1);
        line-height:28px;
        margin-top:12px;
    }
}

.top-tit{
    width:322px;
    height:46px;
    font-size:46px;
    font-family:PingFang-SC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:46px; 
    margin-bottom: 20px;
}

.top-des{
    width:577px;
    height:28px;
    font-size:28px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:28px;
}
/* 中间样式 */
.bot-box{
    width:100%;
    height:100%;
    /* border: 1px solid #000; */
}
.mid-box{
    width:100%;
    height:640px;
    background:rgba(241,242,245,1);
    position: relative;
    
}
.wid-wrap{
    position: relative;
}

.s-img{
    position: absolute;
    width:180px;
    height:180px;
    top: 50%;
    left: 50%;
    margin-left: -90px;
    margin-top: 60px;
}

.wid-tit{
    width:160px;
    height:32px;
    font-size:32px;
    font-family:PingFang-SC-Semibold;
    font-weight:600;
    color:rgba(56,58,64,1);
    line-height:32px;
    margin-left: -80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 230px;
}

.wid-des{
    width:1000px;
    height:20px;
    font-size:12px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(115,120,134,1);
    line-height:20px;  
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: 280px;
}

.img-box{
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-left: 470px; */
    margin-left: -500px;
    margin-top: 310px;
}
.b-img{
    display: block;
    margin-right: 190px;
    width:200px;
    height:280px;
    float: left;
}

.c-box{
    width:100%;
    height:700px;
    background:rgba(0,0,0,1);
    position: relative;
}

.l-box{
    width: 400px;
    height: 700px;
    position: absolute;
    top:50%;
    left: 50%;
    /* left: 480px; */
    margin-left: -490px;
    margin-top: -350px;
}

.c-img{
    width:120px;
    height:120px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.c-tit{
    width:160px;
    height:32px;
    font-size:32px;
    font-family:PingFang-SC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:32px;
    margin-bottom: 12px;
}

.c-des{
    width:400px;
    height:40px;
    font-size:12px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(233,233,233,1);
    line-height:20px;
    margin-bottom: 62px;
}

.pink{
    width:148px;
    height:148px;
    background:rgba(255,128,128,1);
    border-radius:3px; 
}

.phone-img{
    width:640px;
    height:700px;
    position: absolute;
    top:0;
    left:390px;
}

/* 天气部分 */
.weather-box{
    width:100%;
    height:700px;
    background:rgba(0,0,0,1);
    position: relative;
}

.w-box{
    width: 400px;
    height: 700px;
    position: absolute;
    top:50%;
    left: 50%;
    /* left: 480px; */
    margin-left: -490px;
    margin-top: -350px;
}

.weather-img{
    width:500px;
    height:698px;
    position: absolute;
    top:0;
    /* left:390px; */
}

.w-cont{
    margin-left: 540px;
    margin-top: 50px;
}

.w-img{
    width:120px;
    height:120px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.w-tit{
    width:160px;
    height:32px;
    font-size:32px;
    font-family:PingFang-SC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:32px;
    margin-bottom: 12px;
}

.w-des{
    width:400px;
    height:40px;
    font-size:12px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(233,233,233,1);
    line-height:20px;
    margin-bottom: 62px;
}

.w-pink{
    width:148px;
    height:148px;
    background:rgba(255,128,128,1);
    border-radius:3px; 
}

/* 商务合作部分 */
.sw-img{
    width:100%;
    height:120px;
    display: block;
}

.s-box{
    position: relative;
}

.sw-cont{
    width:200px;
    height:80px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -80px;
}

.sw-tit{
    width:96px;
    height:24px;
    font-size:24px;
    font-family:PingFang-SC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:24px;
    margin-bottom: 20px;
    margin-left: 35px;
}

.sw-info{
    width:160px;
    height:40px;
    border-radius:4px;
    border:1px solid rgba(255,255,255,1);
    text-align: center;
    font-size:16px;
    font-family:PingFang-SC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:40px;
}

.bottom{
    width:100%;
    height:220px;
    background:rgba(51,51,51,1);
}
.content {
    .content-table {
        box-shadow: 0px 12px 20px 0px rgba(54, 56, 68, 0.08);
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 14px;



        table {
            width: 100%;
            background: #fff;
            border-radius: 10px;

            tr:nth-child(even) {
                background: rgba(248, 248, 248, 1);
            }

            td {
                padding:10px;
                font-size:12px;
                
            }

        }
    }
    .section {
        width: 1100px;

        margin: auto;

        .advantage {
            width: 100%;
            height: 900px;
            color: #fff;
            .item-tbox{
                .item-t{
                    width:600px;height:72px;
                    margin:auto;
                    margin-top:12px;
                    span{
                        display:inline-block;
                        font-size: 12px;
                        color:black;
                        height:100%;
                        line-height:72px;
                       
                    }
                    .item-title{
                        width:100px;
                        text-align:right;
                        padding-right:20px;

                    }
                    .item-brife{
                        width:450px;
                        background:#fff;
                        padding-left:20px;
                        box-shadow:0px 12px 20px 0px rgba(54,56,68,0.08);
                        border-radius:4px;
                        position: relative;
                        .link-docs{
                            width: 104px;
                            height:32px;
                            border-radius:20px;
                            text-align: center;
                            line-height:32px;
                            background:linear-gradient(135deg,rgba(65,163,255,1) 0%,rgba(0,122,255,1) 100%);
                            color:#fff;
                            cursor: pointer;
                            margin-left:20px;
                        }
                    }
                    .item-brife::before {
                        position: absolute;
                        top: 50%;
                        left: -10px;
                        content: "";
                        display: block;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-right: 15px solid #fff;
                        margin-top: -9px;

        
                    }
                }
            }

            .title {
                font-size: 32px;
                text-align: center;
                padding-top: 60px;
                color: #fff;
            }

            .brife {
                font-size: 16px;
                padding-top: 16px;
                text-align: center;
                color: #fff;
            }

            .icon-brife {
                margin: auto;
                margin-top: 40px;


                .brife-box {
                    width: 42.5%;
                    padding: 10px;
                    float: left;

                    .icon {
                        width: 60px;
                        height: 60px;
                    }

                    .title {
                        font-size: 24px;
                        text-align: left;
                        padding-top: 20px;
                        color: #fff;
                        font-weight:bold;
                    }

                    .brife {
                        width: 100%;
                        font-size: 12px;
                        text-align: left;
                        line-height: 20px;
                        word-wrap: break-word;
                        color: #fff;
                        margin-top:0px;

                    }
                }
            }

            .block-box {
                text-align: center;
                width: 100%;
                margin-top: 40px;

                .cont-box {
                    float: left;
                    width: 340px;
                    height: 202px;
                    background: rgba(255, 255, 255, 0.06);
                    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.16);
                    border-radius: 4px;
                    margin: 10px;

                    .icon {
                        width: 60px;
                        height: 58px;
                        margin: auto;
                        padding-top: 30px;

                    }

                    .num {
                        font-size: 24px;
                        margin-top: 21px;

                    }

                    .brife {
                        font-size: 12px;
                        text-align: left;
                        padding: 20px;
                       
                        color: rgba(233, 233, 233, 1);
                        line-height: 20px;
                    }
                }
            }

        }

        .logo-box {
            padding-top: 60px;
            width: 180px;
            margin: auto;
        }

        .brife-box {
            .title {
                font-size: 32px;
                text-align: center;
                font-weight: bold;
                color: rgba(56, 58, 64, 1)
            }

            .brife {
                width: 700px;
                font-size: 12px;
                font-family: PingFang-SC-Regular;
                font-weight: 400;
                color: rgba(115, 120, 134, 1);
                line-height: 20px;

                margin: auto;
                margin-top: 22px;
            }
        }

        .s-bottom-img {
            margin-top: 48px;
        }
    }

    .f-left {
        width: 50%;
        height: 500px;
        float: left;
        // background:red;
        position: relative;


    }

    .f-right {
        width: 50%;
        height: 500px;
        float: right;
        // background:yellow;
        position: relative;
    }

    .contain {
        width: 488px;
        height:auto;
        padding-bottom: 20px;
        background: rgba(241, 242, 245, 1);
        border-radius: 8px;
        position: absolute;
        top: 50%;
        margin-top: -67px;
        margin-left: 15px;
        box-shadow: 0px 12px 20px 0px rgba(54, 56, 68, 0.05);

        .title {
            font-size: 32px;
            padding-top: 30px;
            padding-left: 20px;

        }

        .brife {
            margin-top: 10px;
            font-size: 12px;
            line-height: 20px;
            padding-left: 20px;
            padding-right: 20px;
            height: auto;
        }

        .img-icon {
            width: 500px;
            height: 400px;
        }
    }
    .table-box-con{
        box-shadow: 0px 0px 0px 0px rgba(54, 56, 68, 0.05);
    }
    .desc-right::after{
        position: absolute;
        top: 50%;
        left: -10px;
        content: "";
        display: block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 15px solid #fff;
        margin-top: -7px;

    }
    .desc-left::after{
        position: absolute;
        top: 50%;
        right: -10px;
        content: "";
        display: block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid rgba(241,242,245,1);
        margin-top: -7px;

    }

    .text-right::after {
        position: absolute;
        top: 50%;
        left: -10px;
        content: "";
        display: block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 15px solid #fff;
        z-index: -1;
        margin-top: -7px;


    }

    .text-left::before {
        position: absolute;
        top: 50%;
        right: -10px;
        content: "";
        display: block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        margin-top: -7px;

    }

    .table-box-con::before {
        position: absolute;
        top: 61%;
        right: -10px;
        content: "";
        display: block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        margin-top: -7px;

    }
  

}