<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
</head>
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/about.css">
<body>
    <div class="wrap-box">
        <!-- 导航 -->
        <!-- 头部 -->
        <div class="top-box">
            <img class="top-img" src="../img/about/web/bg1@2x.jpg" width="100%" alt="背景图片">
            <div class="top-wrap">
                <div class="t-tit">关于我们</div>
                <div class="t2-tit">专注于移动互联网内容生态的科创企业</div>
                <p class="t-des">网际星辰文化传媒（北京）有限公司是一家专注于移动互联网内容生态的高新技术企业，利用“AI+大数据”驱动智慧融媒体的发展。公司创业十年历程中，始终秉承科技创新的理念，坚持以客户需求为产品研发的原始驱动力和方向，坚定地打造一个有责任、有担当的一站式变现服务平台。目前，网际星辰旗下拥有三大业务平台：“星辰+”一站式变现服务平台、“ 智聚云”内容智能聚合与分发平台、星辰小程序。 网际星辰合作伙伴包括：百度，阿里巴巴，腾讯，京东，猎豹移动，人民网，环球网，新浪网等。</p>
            </div>

            <div class="img-box">
                <div class="add-box">
                    <img class="a-img" src="../img/about/web/1@2x.png" width="100%" alt="背景图片">
                    <div style="margin-left: -34px;" class="a-tit">星辰+一站式变现服务平台</div>
                    <p style="margin-left: -60px;" class="a-des">利用“AI+大数据”等新技术驱动的互联网流量和用户运营增长的服务平台，也是商业变现的综合服务平台。它为近千家优质媒体和头部开发者提供一站式服务。</p>
                </div>

                <div class="add-box">
                        <img class="a-img" src="../img/about/web/2@2x.png" width="100%" alt="背景图片">
                        <div style="margin-left: 62px;" class="a-tit">智聚云</div>
                        <p style="margin-left: -47px;" class="a-des">提供海量内容智能聚合与分发服务，为优质的渠道平台打造最契合用户属性的聚合资讯产品，帮助媒体及内容生产机构高效分发优质内容，更智能的连接人与信息。</p>
                </div>


                <div class="add-box">
                        <img class="a-img" src="../img/about/web/3@2x.png" width="100%" alt="背景图片">
                        <div style="margin-left: 40px;" class="a-tit">星辰小程序</div>
                        <p style="margin-left: -47px;"  class="a-des">公司积极围绕微信、百度和今日头条三大生态自主研发并运营工具类、内容服务类和小游戏等小程序产品矩阵，持续为三大生态的海量用户提供优质的小程序产品及服务。</p>
                </div>

            </div>
        </div>
        
        <!-- 下面部分 -->
        <div class="section">
            <!-- 地图部分 -->
            <div class="map-box">

            </div>

            <!-- 商务合作部分 -->
            <div class="sw-box">
                <img class="sw-img" src="../img/about/web/bg2@2x.jpg" width="100%" alt="背景图片">
                <div class="sw-tit">商务合作</div>
                <div class="sw-eng">Business Cooperation</div>
                <div class="ma-box">
                    <div class="e-box">
                        <!-- <img class="e-img" src="" width="100%" alt="背景图片"> -->
                        <div class="pink"></div>
                        <div class="e-tit">流量主合作</div>
                        <div class="info-box">
                            <div class="e-tit1">崔女士</div>
                            <div class="e-info">QQ312347742</div>
                        </div>
                    </div>

                    <div class="e-box">
                            <!-- <img class="e-img" src="" width="100%" alt="背景图片"> -->
                            <div class="pink"></div>
                            <div class="e-tit">流量主合作</div>
                            <div class="info-box">
                                <div class="e-tit1">崔女士</div>
                                <div class="e-info">QQ312347742</div>
                            </div>
                    </div>

                    <div class="e-box">
                            <!-- <img class="e-img" src="" width="100%" alt="背景图片"> -->
                            <div class="pink"></div>
                            <div class="e-tit">流量主合作</div>
                            <div class="info-box">
                                <div class="e-tit1">崔女士</div>
                                <div class="e-info">QQ312347742</div>
                            </div>
                    </div>

                </div>
            </div>

            <!-- 底部内容 -->
            <div class="bottom"></div>
        </div>

         
        












    </div>






























    
</body>
</html>