<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/joinUs.css">
    <script src="../js/jqueryV3.2.js"></script>
    <title>加入我们</title>
</head>

<body>
    <div class="joinUs-box">
        <!-- 头部内容 -->
        <div class="header" style="background:rgba(19,23,35,1)">
            <div class="center-box">
                <div class="logo">
                    <img src="../img/home/web/wjxc_logo@2x.png" width="100%">
                </div>
                <div class="nav">
                    <ul>
                        <li class="active">首页</li>
                        <li>星辰+</li>
                        <li>智聚云</li>
                        <li>智能小程序</li>
                        <li>关于我们</li>
                        <li>加入我们</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 照片内容 -->
        <div style="background:rgba(241,242,245,1);">
            <div class="photo-box">
                <div class="title-box">
                    <div class="title">
                        加入我们，梦想起航
                    </div>
                    <div class="brife">
                        JOIN US
                    </div>
                </div>
                <div class="photos">
                    <div class="left-photo">
                        <img src="../img/joinUs/web/1@2x.jpg" width="100%" height="100%" alt="照片">
                    </div>
                    <div class="right-photos">
                        <div class="top-photo">
                            <img src="../img/joinUs/web/2@2x.jpg" width="100%" height="100%" alt="照片">
                        </div>
                        <div class="bottom-photo" style="font-size:0px;">

                            <div>
                                <img src="../img/joinUs/web/3@2x.jpg" width="100%" height="100%">
                            </div>
                            <div style="margin-left:16px;">
                                <img src="../img/joinUs/web/4@2x.jpg" width="100%" height="100%">

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- 公司福利 -->

        <div class="benefits">
            <div style="width:1100px;margin:auto;padding-bottom: 100px;">
                <div class="title-box">
                    <div class="title" style="padding-top:60px;">
                        公司福利
                    </div>
                    <div class="brife">
                        COMPANY BENEFITS
                    </div>
                </div>
                <div class="icon-box clearfix">
                    <div class="bract-box">
                        <img src="../img/joinUs/web/icon1@2x.jpg" width="60px" height="60px">
                        <div class="brife">薪酬及五险一金</div>
                    </div>
                    <div class="bract-box">
                        <img src="../img/joinUs/web/icon2@2x.jpg" width="60px" height="60px">
                        <div class="brife">带薪年假</div>
                    </div>
                    <div class="bract-box">
                        <img src="../img/joinUs/web/icon3@2x.jpg" width="60px" height="60px">
                        <div class="brife">加班福利</div>
                    </div>
                    <div class="bract-box" style="margin-right:0px;">
                        <img src="../img/joinUs/web/icon4@2x.jpg" width="60px" height="60px">
                        <div class="brife">定期团建</div>
                    </div>
                </div>
                <div class="icon-box clearfix">
                    <div class="bract-box">
                        <img src="../img/joinUs/web/icon5@2x.jpg" width="60px" height="60px">
                        <div class="brife">生日会</div>

                    </div>
                    <div class="bract-box">
                        <img src="../img/joinUs/web/icon6@2x.jpg" width="60px" height="60px">
                        <div class="brife">节日关怀</div>

                    </div>
                    <div class="bract-box">
                        <img src="../img/joinUs/web/icon7@2x.jpg" width="60px" height="60px">
                        <div class="brife">免费零食</div>

                    </div>
                    <div class="bract-box" style="margin-right:0px;">
                        <img src="../img/joinUs/web/icon8@2x.jpg" width="60px" height="60px">
                        <div class="brife">员工活动</div>

                    </div>
                </div>

            </div>
        </div>

        <!-- 招聘相关 -->
        <div style="background:#F1F2F5">
            <div class="job-box">

                <div class="title-box">
                    <div class="title" style="padding-top:60px;">
                        公司福利
                    </div>
                    <div class="brife">
                        COMPANY BENEFITS
                    </div>
                </div>

                <!-- 选项卡导航 -->
                <div class="select-job">
                    <ul class="clearfix">
                        <li class="active">全部</li>
                        <li>技术类</li>
                        <li>运营类</li>
                        <li>设计类</li>
                        <li>产品类</li>
                        <li>编辑类</li>
                        <li>财务后勤类</li>

                    </ul>
                </div>
                <!-- 招聘内容 -->
                <div class="jobcontent">
                    <div class="job-desc">
                        <div class="title-tag clearfix">
                            <div class="title">运营专员实习生（提供转正机会）</div>
                            <div class="tag">运营类</div>
                        </div>
                        <div style="margin-top:16px;">
                            <div class="job-infor ma-top"><span>招聘人数：<i>2</i></span><span style="margin-left:20px">工作地点：<i>北京</i></span></div>
                            <p class='ma-top'>职位描述：</p>
                            <div class="desc ma-top">
                                <p>1、根据项目战略方向，辅助部门其他同事推荐工作进度。</p>
                                <p>2、配合完成对外的商业联系（BD合作），联系洽谈资源互换、广告互换、链接互换、内容合作、活动合作、媒体合作等。</p>
                            </div>
                            <p class="ma-top">岗位描述：</p>
                            <div class="askFor ma-top">
                                <p>1、根据项目战略方向，辅助部门其他同事推荐工作进度。</p>
                                <p>2、配合完成对外的商业联系（BD合作），联系洽谈资源互换、广告互换、链接互换、内容合作、活动合作、媒体合作等。</p>
                            </div>
                        </div>
                        <div class="resume-btn">投递简历</div>
                    </div>
                    <div class="job-desc">
                        <div class="title-tag clearfix">
                            <div class="title">运营专员实习生（提供转正机会）</div>
                            <div class="tag">运营类</div>
                        </div>
                        <div style="margin-top:16px;">
                            <div class="job-infor ma-top"><span>招聘人数：<i>2</i></span><span>工作地点：<i>北京</i></span></div>
                            <p class='ma-top'>职位描述：</p>
                            <div class="desc ma-top">
                                <p>1、根据项目战略方向，辅助部门其他同事推荐工作进度。</p>
                                <p>2、配合完成对外的商业联系（BD合作），联系洽谈资源互换、广告互换、链接互换、内容合作、活动合作、媒体合作等。</p>
                            </div>
                            <p class="ma-top">岗位描述：</p>
                            <div class="askFor ma-top">
                                <p>1、根据项目战略方向，辅助部门其他同事推荐工作进度。</p>
                                <p>2、配合完成对外的商业联系（BD合作），联系洽谈资源互换、广告互换、链接互换、内容合作、活动合作、媒体合作等。</p>
                            </div>
                        </div>
                        <div class="resume-btn">投递简历</div>
                    </div>


                </div>



            </div>
        </div>

        <!-- 招聘相关end -->
        <div class="footer">
            <div class="footer-box">
                <div class="logo-nav clearfix">
                    <div class="logo">
                        <img src="../img/home/web/text@2x.png" width="206px;">
                    </div>
                    <div class="footer-nav">
                        <ul class="clearfix">
                            <li>星辰+一站式变现平台</li>
                            <li>智聚云</li>
                            <li>智能小程序</li>
                            <li>关于我们</li>
                            <li>加入我们</li>
                            <li>商务合作</li>
                        </ul>
                    </div>
                </div>
                <div class="hr" style="width:100%;height:1px;background:#615f5f;margin-top:34px;">

                </div>
                <div class="copyright">
                    <div class="copy">
                        Copyright&copy;2009-2010 网际星辰文化传媒(北京)有限公司 All rights reserved.
                    </div>
                    <div class="beian">
                        京ICP备11012669号-12（营业执照）
                    </div>
                </div>
            </div>

        </div>



    </div>
    <script src="../js/aos.js"></script>
    <script>
        $(function(){
          $('.select-job li').on('click',function(){

            $('.select-job li').removeClass('active');
            $(this).addClass('active');

          })



        })


        //设置初始化一个可用动画
        AOS.init({
            easing: 'ease',
            duration: 1000,
            aosOnce: true
        });
    </script>
</body>

</html>