<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>星辰加</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/swiper.mini.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/xcj.css">
    <script src="../js/jqueryV3.2.js"></script>

</head>

<body>

    <div class="xcj-box">
        <!-- 头部内容 -->
        <div class="header">
            <div class="center-box">
                <div class="logo">
                    <img src="../img/home/web/wjxc_logo@2x.png" width="100%">
                </div>
                <div class="nav">
                    <ul>
                        <li class="active">首页</li>
                        <li>星辰+</li>
                        <li>智聚云</li>
                        <li>智能小程序</li>
                        <li>关于我们</li>
                        <li>加入我们</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 头部内容 end-->
        <!-- 全屏背景图片 -->
        <div class="waper-box" id='swipercon' style="min-height:800px;background-image: url(../img/xin/web/bg@2x.jpg);background-size:101% 100%;background-repeat: no-repeat;background-position:center">
            <div style="width:1100px;margin:auto;padding-top:307px;" class="clearfix">
                <div class="link-box" style="float:left">
                    <div class="title">
                        星辰+
                    </div>
                    <div class="brife">
                        领先的一站式流量变现服务平台
                    </div>
                    <div class="bnts">
                        <div class="login-btn">注册</div>
                        <div class="more-btn" style="border-width:0px;">登录</div>
                    </div>

                </div>

                <div class="bglogo" style="float:right">
                    <img src="../img/xin/mobile/a@2x.png" width="100%">
                </div>
            </div>

        </div>
        <!-- 全屏背景图片end -->

        <!-- 内容区域 -->
        <div class="content">

            <div style="background:rgba(241,242,245,1);">
                <div class="section" style="overflow:hidden;">

                    <div class="logo-box" data-aos-once="true" data-aos="fade-up">
                        <img src="../img/xin/web/1@2x.jpg" width="100%">
                    </div>
                    <div class="brife-box">
                        <div class="title" data-aos-once="true" data-aos="fade-up">什么是星辰+？</div>
                        <div class="brife" data-aos-once="true" data-aos="fade-up">
                            <p> - 星辰加是“AI+大数据”驱动内容生态产品的流量和用户运营以及商业变现的服务平台，为媒体提供高效变现的一站式服务平台。</p>
                            <p>- 高效智能的程序化媒体投放服务，帮助媒体管理自己的广告位，实现流量收益最大化</p>
                            <p>- 星辰信息流整合优质内容源+智能聚合分发平台，提供“内容+广告”一站式变现服务，为合作伙伴赋能，带来更多收益。</p>
                        </div>
                    </div>
                    <div class="s-bottom-img" data-aos-once="true" data-aos="fade-up">
                        <img src="../img/xin/web/2@2x.jpg" width="200px" style="margin-left:125px;margin-right: 50px;">
                        <img src="../img/xin/web/3@2x.jpg" width="200px" style="margin-left:62px;margin-right: 62px;">
                        <img src="../img/xin/web/4@2x.jpg" width="200px" style="margin-right:125px;margin-left:50px;">
                    </div>

                </div>
            </div>




            <div style="height:500px;">
                <div class="section clearfix">
                    <div class="f-right" data-aos-once="true" data-aos="fade-up">
                        <div class="contain text-right" style="background: rgba(241, 242, 245, 1);">
                            <div class="title" data-aos-once="true" data-aos="fade-up">流量变现最大化</div>
                            <div class="brife" data-aos-once="true" data-aos="fade-up">智能数据提升广告变现效果，提升整体eCPM。 <br>聚合主流广告平台，保证填充率，收益更稳定。<br> 整合优质内容源+智能聚合分发平台，提供“内容+广告”一站式变现服务。<br> 提供搜索激励型产品，提升搜索变现能力。</div>
                        </div>
                    </div>
                    <div class="f-left" data-aos-once="true" data-aos="fade-up">
                        <div class="img-icon"><img src="../img/xin/web/5@2x.jpg" width="100%"></div>
                    </div>
                </div>
            </div>

            <div style="background:rgba(241, 242, 245, 1);height:500px;">
                <div class="section clearfix">
                    <div class="f-left" data-aos-once="true" data-aos="fade-up">
                        <div class="contain text-left" style="background:#fff;">
                            <div class="title" data-aos-once="true" data-aos="fade-up">变现能力“强”</div>
                            <div class="brife" data-aos-once="true" data-aos="fade-up">跨渠道、跨区域整合媒体资源，PC和移动端多屏合一，对接百度、广点通、阿里、今日头条、猎豹、京东等各大主流广告市场，提供高效的一站式商业化变现方案。</div>
                        </div>
                    </div>
                    <div class="f-right" data-aos-once="true" data-aos="fade-up">
                        <div class="img-icon"><img src="../img/xin/web/6@2x.jpg" width="100%"></div>
                    </div>
                </div>
            </div>

            <div style="height:500px;">
                <div class="section clearfix" style="padding-top:50px;">
                    <div class="f-right" data-aos-once="true" data-aos="fade-up">
                        <div class="contain text-right" style="background: rgba(241, 242, 245, 1);">
                            <div class="title" data-aos-once="true" data-aos="fade-up">精细化效果监控</div>
                            <div class="brife" data-aos-once="true" data-aos="fade-up">从展现量、点击量、点击率、填充率、收入、时间段等多种维度监控广告投放效果。 <br>为您提供整体报告、网站报告、代码位报告，收益报告，自定义查询等详细数据报告，满足各类人员的监控需求。</div>
                        </div>
                    </div>
                    <div class="f-left" data-aos-once="true" data-aos="fade-up">
                        <div class="img-icon"><img src="../img/xin/web/7@2x.jpg" width="100%"></div>
                    </div>
                </div>
            </div>



            <div>

            </div>







        </div>
        <!-- 内容区域end -->





    </div>


    <script src="../js/aos.js"></script>
    <script src="../js/swiper.mini.js"></script>
    <script>
        $(window).bind("scroll", function () {
            var $header = $(".header");
            var t = 300,
                m = Math.min(document.documentElement.scrollTop || document.body.scrollTop, t) / t;
            $header.css("background", "rgba(19,23,35," + m + ")");
        });
    </script>
    <script>
        // 获取浏览器窗口的可视区域的宽度
        function getViewPortWidth() {
            return document.documentElement.clientWidth || document.body.clientWidth;
        }

        // 获取浏览器窗口的可视区域的高度
        function getViewPortHeight() {
            return document.documentElement.clientHeight || document.body.clientHeight;
        }

        //    document.getElementById('swipercon').style.width=getViewPortWeight()+'px';
        document.getElementById('swipercon').style.height = getViewPortHeight() + 'px';
        window.onresize = function () {
            document.getElementById('swipercon').style.height = getViewPortHeight() +
                'px';
        }
        var swiper = new Swiper('.swiper-container', {

            // effect: 'fade',
            loop: true,
            speed: 1000,
            pagination: {
                el: '.swiper-pagination',
            },
            autoplay: {
                delay: 2000,
                disableOnInteraction: true,
            }
        });
    </script>
    <script>
        //设置初始化一个可用动画
        AOS.init({
            easing: 'ease',
            duration: 1000,
            aosOnce: true
        });
    </script>
</body>

</html>