<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>星辰加</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/xcj.css">
    <script src="../js/jqueryV3.2.js"></script>

</head>

<body>

    <div class="xcj-box">
        <!-- 头部内容 -->
        <div class="header">
            <div class="center-box">
                <div class="logo">
                    <img src="../img/home/web/wjxc_logo@2x.png" width="100%">
                </div>
                <div class="nav">
                    <ul>
                        <li class="active">首页</li>
                        <li>星辰+</li>
                        <li>智聚云</li>
                        <li>智能小程序</li>
                        <li>关于我们</li>
                        <li>加入我们</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 头部内容 end-->
        <!-- 全屏背景图片 -->
        <div class="waper-box" id='swipercon' style="min-height:800px;background-image: url(../img/xin/web/bg@2x.jpg);background-size:101% 100%;background-repeat: no-repeat;background-position:center">
            <div style="width:1100px;margin:auto;padding-top:307px;" class="clearfix">
                <div class="link-box" style="float:left">
                    <div class="title">
                        星辰+
                    </div>
                    <div class="brife">
                        领先的一站式流量变现服务平台
                    </div>
                    <div class="bnts">
                        <div class="login-btn">注册</div>
                        <div class="more-btn" style="border-width:0px;">登录</div>
                    </div>

                </div>

                <div class="bglogo" style="float:right">
                    <img src="../img/xin/mobile/a@2x.png" width="100%">
                </div>
            </div>

        </div>
        <!-- 全屏背景图片end -->

        <!-- 内容区域 -->
        <div class="content">

            <div style="background:rgba(241,242,245,1);">
                <div class="section" style="overflow:hidden;">

                    <div class="logo-box" data-aos-once="true" data-aos="fade-up">
                        <img src="../img/xin/web/1@2x.jpg" width="100%">
                    </div>
                    <div class="brife-box">
                        <div class="title" data-aos-once="true" data-aos="fade-up">什么是星辰+？</div>
                        <div class="brife" data-aos-once="true" data-aos="fade-up">
                            <p> - 星辰加是“AI+大数据”驱动内容生态产品的流量和用户运营以及商业变现的服务平台，为媒体提供高效变现的一站式服务平台。</p>
                            <p>- 高效智能的程序化媒体投放服务，帮助媒体管理自己的广告位，实现流量收益最大化</p>
                            <p>- 星辰信息流整合优质内容源+智能聚合分发平台，提供“内容+广告”一站式变现服务，为合作伙伴赋能，带来更多收益。</p>
                        </div>
                    </div>
                    <div class="s-bottom-img" data-aos-once="true" data-aos="fade-up">
                        <img src="../img/xin/web/2@2x.jpg" width="200px" style="margin-left:125px;margin-right: 50px;">
                        <img src="../img/xin/web/3@2x.jpg" width="200px" style="margin-left:62px;margin-right: 62px;">
                        <img src="../img/xin/web/4@2x.jpg" width="200px" style="margin-right:125px;margin-left:50px;">
                    </div>

                </div>
            </div>
            <div style="height:500px;">
                <div class="section clearfix">
                    <div class="f-right" data-aos-once="true" data-aos="fade-up">
                        <div class="contain text-right" style="background: rgba(241, 242, 245, 1);">
                            <div class="title" data-aos-once="true" data-aos="fade-up">流量变现最大化</div>
                            <div class="brife" data-aos-once="true" data-aos="fade-up">智能数据提升广告变现效果，提升整体eCPM。 <br>聚合主流广告平台，保证填充率，收益更稳定。<br>
                                整合优质内容源+智能聚合分发平台，提供“内容+广告”一站式变现服务。<br> 提供搜索激励型产品，提升搜索变现能力。</div>
                        </div>
                    </div>
                    <div class="f-left" data-aos-once="true" data-aos="fade-up">
                        <div class="img-icon"><img src="../img/xin/web/5@2x.jpg" width="100%"></div>
                    </div>
                </div>
            </div>

            <div style="background:rgba(241, 242, 245, 1);height:500px;">
                <div class="section clearfix">
                    <div class="f-left" data-aos-once="true" data-aos="fade-up">
                       
                        <div class="contain  table-box-con " style="height:auto;top:35%">
                            
                            <div class="title" data-aos-once="true" data-aos="fade-up" style="margin-bottom:30px;">多种变现合作方式</div>
                            <!-- <div class="brife" data-aos-once="true" data-aos="fade-up">跨渠道、跨区域整合媒体资源，PC和移动端多屏合一，对接百度、广点通、阿里、今日头条、猎豹、京东等各大主流广告市场，提供高效的一站式商业化变现方案。</div> -->
                            <div class="content-table" data-aos-once="true" data-aos="fade-up">
                                    <table>
                                        <tr>
                                            <td style="width:100px;padding-left:40px;">PC/WAP变量</td>
                                            <td>JS_SDK方式对接</td>
                                        </tr>
                                        <tr>
                                            <td style="width:100px;padding-left:40px;">APP变现</td>
                                            <td>提供简单灵活的API对接方式</td>
                                        </tr>
                                        <tr>
                                            <td style="width:100px;padding-left:40px;">星辰信息流</td>
                                            <td>整合优质内容源+智能聚合分发平台</td>
                                        </tr>
                                        <tr>
                                            <td style="width:100px;padding-left:40px;">临渊</td>
                                            <td>下沉搜索市场扩展利器</td>
                                        </tr>
                                        <tr>
                                            <td style="width:100px;padding-left:40px;">小游戏平台</td>
                                            <td>敬请期待</td>
                                        </tr>
                                    </table>
                                </div>
                        
                        
                        </div>
                    </div>
                    <div class="f-right" data-aos-once="true" data-aos="fade-up">
                        <div class="img-icon"><img src="../img/xin/web/6@2x.jpg" width="100%"></div>
                    </div>
                </div>
            </div>

            <div style="height:500px;overflow:hidden;">
                <div class="section clearfix" style="padding-top:50px;">
                    <div class="f-right" data-aos-once="true" data-aos="fade-up">
                        <div class="contain text-right" style="background: rgba(241, 242, 245, 1);">
                            <div class="title" data-aos-once="true" data-aos="fade-up">精细化效果监控</div>
                            <div class="brife" data-aos-once="true" data-aos="fade-up">从展现量、点击量、点击率、填充率、收入、时间段等多种维度监控广告投放效果。
                                <br>为您提供整体报告、网站报告、代码位报告，收益报告，自定义查询等详细数据报告，满足各类人员的监控需求。</div>
                        </div>
                    </div>
                    <div class="f-left" data-aos-once="true" data-aos="fade-up">
                        <div class="img-icon"><img src="../img/xin/web/7@2x.jpg" width="100%"></div>
                    </div>
                </div>
            </div>
            <!-- 广告聚合平台 start-->
            <div style="height:854px;background:#ffff;background-image: url(../img/xin/web/bg2@2x.jpg);background-size:cover;background-repeat: no-repeat;background-position:center"">
                <div class="section">
                    <div class="advantage">
                        <div class="title" data-aos-once="true" data-aos="fade-up" style="color:rgba(56,58,64,1);">
                                广告聚合平台
                        </div>
                        <div class="brife" data-aos-once="true" data-aos="fade-up" style="color:rgba(56,58,64,1);">
                                MEDIA AGGREGATION PLATFORM
                            <p style="padding-top:40px;" style="font-weight: bold">简单灵活的接入方式</p>
                        </div>
                        <div class="item-tbox">
                              <div class="item-t">
                                   <span class="item-title">PC/WAP</span><span class="item-brife">JS_SDK方式对接，零技术门槛。</span>
                              </div>
                              <div class="item-t">
                                    <span class="item-title">APP</span><span class="item-brife">提供API对接方式，灵活匹配不同技术细节和接入需求。<span class="link-docs">查看对接文档</span></span>
                               </div>
                        </div>
                        <div class="icon-brife clearfix" style="margin-top:60px;">
                            <div class="brife-box" data-aos-once="true" data-aos="fade-up">
                                <div class="icon"><img src="../img/xin/web/icon1@2x.png" width="100%"></div>
                                <div class="title" style="color:rgba(56,58,64,1);">聚合平台，资源类型</div>
                                <div class="brife" style="color:rgba(56,58,64,1);">聚合国内多家主流广告平台，轻松触达用户，填充率>95%，让您的收益再次升级。支持PC/WAP及APP主流广告样式，无需自主开发，只要经过简单配置即可接入多终端、多类型媒体广告资源。</div>
                            </div>
                            <div class="brife-box" style="margin-left:100px;" data-aos-once="true" data-aos="fade-up">
                                <div class="icon"><img src="../img/xin/web/icon2@2x.png" width="100%"></div>
                                <div class="title"  style="color:rgba(56,58,64,1);">智能优化，收益稳定，安全高效</div>
                                <div class="brife" style="color:rgba(56,58,64,1);">智能优化广告，通过基于超过上千亿次的移动请求与投放数据分析形成的智能优化算法，匹配最优质的请求，为您获取最大收益，提升整体eCPM。</div>
                            </div>
                        </div>
                        <div class="icon-brife clearfix">
                            <div class="brife-box" data-aos-once="true" data-aos="fade-up">
                                <div class="icon"><img src="../img/xin/web/icon3@2x.png" width="100%"></div>
                                <div class="title"  style="color:rgba(56,58,64,1);">标准化诉求</div>
                                <div class="brife" style="color:rgba(56,58,64,1);">满足标准化诉求，只需配置一个广告代码就可以实现多平台广告聚合。</div>
                            </div>
                            <div class="brife-box" style="margin-left:100px;" data-aos-once="true" data-aos="fade-up">
                                <div class="icon"><img src="../img/xin/web/icon4@2x.png" width="100%"></div>
                                <div class="title"  style="color:rgba(56,58,64,1);">追求用户体验，精细化广告管理</div>
                                <div class="brife" style="color:rgba(56,58,64,1);">简单创建以及管理广告位，易于查看的透明报表。</div>
                            </div>
                        </div>
                      

                    </div>

                </div>


            </div>

            <!-- 广告聚合平台 end-->



            <!-- 临渊内容start -->
            <div style="height:1244px;background:black;background-image: url(../img/xin/web/bg3@2x.jpg);background-size:cover;background-repeat: no-repeat;background-position:center">
                <div class="section">
                    <div class="advantage">
                        <div class="title" data-aos-once="true" data-aos="fade-up">
                            临渊
                        </div>
                        <div class="brife" data-aos-once="true" data-aos="fade-up">
                            LIN YUAN
                            <p style="padding-top:40px;">基于AI的发现探索平台</p>
                        </div>
                        <div class="icon-brife clearfix" style="margin-top:60px;">
                            <div class="brife-box" data-aos-once="true" data-aos="fade-up">
                                <div class="icon"><img src="../img/xin/web/icon5@2x.png" width="100%"></div>
                                <div class="title">基于AI发现探索平台</div>
                                <div class="brife">一个基于AI的发现探索平台，通过AI引擎深度学习并分析用户数据，根据不同用户的兴趣点推荐不同内容进行阅读，从而让用户发现新品牌，让知名品牌启发用户挖掘更多价值。</div>
                            </div>
                            <div class="brife-box" style="margin-left:100px;" data-aos-once="true" data-aos="fade-up">
                                <div class="icon"><img src="../img/xin/web/icon6@2x.png" width="100%"></div>
                                <div class="title">基于AI的强分发能力</div>
                                <div class="brife">丰富的标签库：在抓取到热词后就能对热点关联标签，保证分发效果。 个性化分发：针对不同渠道的用户特征可以快速的进行个性化分发和小流量测试。</div>
                            </div>
                        </div>
                        <div class="icon-brife clearfix">
                            <div class="brife-box" data-aos-once="true" data-aos="fade-up">
                                <div class="icon"><img src="../img/xin/web/icon7@2x.png" width="100%"></div>
                                <div class="title">热词、新闻监控系统</div>
                                <div class="brife">覆盖全网的热点监控系统：搜索引擎、微博、各垂类网站，一站式进行集中分发。分钟级更新内容池：实时更新，确保用户不会错过任何一个热点事件。</div>
                            </div>
                            <div class="brife-box" style="margin-left:100px;" data-aos-once="true" data-aos="fade-up">
                                <div class="icon"><img src="../img/xin/web/icon8@2x.png" width="100%"></div>
                                <div class="title">对搜索引擎理解</div>
                                <div class="brife">热词的分配和位置排序兼容多垂类，在保证效果最优的情况下模拟真实搜索query分布 最大化提升流量的质量和变现效率。</div>
                            </div>
                        </div>
                        <div class="icon-brife clearfix">
                            <div class="brife-box" data-aos-once="true" data-aos="fade-up">
                                <div class="icon"><img src="../img/xin/web/icon9@2x.png" width="100%"></div>
                                <div class="title">适配多种类型APP</div>
                                <div class="brife">我们的服务对象涵盖所有新闻资讯类、任务型、内容型APP等，流量主可以在自有平台内开放入口，快速的接入我们为您定制的合作页面，激励用户完成搜索⾏为，在搜索任务完成之后就可以对搜索收入进行现金激励。</div>
                            </div>
                            <div class="brife-box" style="margin-left:100px;" data-aos-once="true" data-aos="fade-up">
                                <div class="icon"><img src="../img/xin/web/icon10@2x.png" width="100%"></div>
                                <div class="title">对搜索引擎理解</div>
                                <div class="brife">除去定制页面之外，我们也在新闻监控、搜索热词挖掘、个性化分发等方面投入了持续的精力进行优化，可以通过算法分发的方式保证当下最热门最匹配的热词分发，在贡献收入的同时，也为流量主的APP提供了更好的用户时常和活跃。</div>
                            </div>
                        </div>
                        <!-- 方块statr-->
                        <div class="block-box">
                            <div class="cont-box" data-aos-once="true" data-aos="fade-up">
                                <div class="icon">
                                    <img src="../img/xin/web/icon11@2x.png" width="100%">
                                </div>
                                <div class="num">
                                    增量收入
                                </div>
                                <div class="brife">
                                    在原有收入结构的基础上新增搜索和推荐的变现能力，不影响现有产品的商业化结构。
                                </div>
                            </div>
                            <div class="cont-box" data-aos-once="true" data-aos="fade-up">
                                <div class="icon">
                                    <img src="../img/xin/web/icon12@2x.png" width="100%">
                                </div>
                                <div class="num">
                                    接入效果好
                                </div>
                                <div class="brife">
                                    信息流内热词推荐、搜索引导页推荐、搜索结果页引导全流程覆盖，AI能力加持，保证效果。
                                </div>
                            </div>
                            <div class="cont-box" data-aos-once="true" data-aos="fade-up">
                                <div class="icon">
                                    <img src="../img/xin/web/icon13@2x.png" width="100%">
                                </div>
                                <div class="num">
                                    技术投入小
                                </div>
                                <div class="brife">
                                    接入简单，流量主只需要在用户侧开放入口，接入“临渊”JS_SDK，30分钟既可完成，实现快速变现。
                                </div>
                            </div>


                        </div>

                        <!-- 方块end -->




                    </div>
                </div>
            </div>
            <!-- 临渊内容end -->



        </div>
        <!-- 内容区域end -->

        <!-- footer -->
        <div class="footer">
                <div class="footer-box">
                    <div class="logo-nav clearfix">
                        <div class="logo">
                            <img src="../img/home/web/text@2x.png" width="206px;">
                        </div>
                        <div class="footer-nav">
                            <ul class="clearfix">
                                <li>智聚云</li>
                                <li>智能小程序</li>
                                <li>关于我们</li>
                                <li>加入我们</li>
                                <li>接口文档</li>
                                <li>商务合作</li>
                            </ul>
                        </div>
                    </div>
                    <div class="hr" style="width:100%;height:1px;background:#615f5f;margin-top:34px;">

                    </div>
                    <div class="copyright">
                        <div class="copy">
                            Copyright&copy;2009-2010 网际星辰文化传媒(北京)有限公司 All rights reserved.
                        </div>
                        <div class="beian">
                            京ICP备11012669号-12（营业执照）
                        </div>
                    </div>
                </div>

            </div>



    </div>


    <script src="../js/aos.js"></script>
    <script>
        $(window).bind("scroll", function () {
            var $header = $(".header");
            var t = 300,
                m = Math.min(document.documentElement.scrollTop || document.body.scrollTop, t) / t;
            $header.css("background", "rgba(19,23,35," + m + ")");
        });
    </script>
    <script>
        // 获取浏览器窗口的可视区域的宽度
        function getViewPortWidth() {
            return document.documentElement.clientWidth || document.body.clientWidth;
        }

        // 获取浏览器窗口的可视区域的高度
        function getViewPortHeight() {
            return document.documentElement.clientHeight || document.body.clientHeight;
        }

        //    document.getElementById('swipercon').style.width=getViewPortWeight()+'px';
        document.getElementById('swipercon').style.height = getViewPortHeight() + 'px';
        window.onresize = function () {
            document.getElementById('swipercon').style.height = getViewPortHeight() +'px';
        }
   
    </script>
    <script>
        //设置初始化一个可用动画
        AOS.init({
            easing: 'ease',
            duration: 1000,
            aosOnce: true
        });
    </script>
</body>

</html>